.wrapper { 
	padding-bottom: 50px; 
}

.videojs-rightclick {
    z-index: 1000;
    position: absolute;
    background-color: black;
    color: white !important;
    padding: 8px;
    margin: 0;
    font-size: 12px;
    text-align: left;
    border: 0;
}

.videojs-rightclick a {
    color: white !important;
}

.videojs-rightclick a:hover {
    color: white !important;
}

.vjs-watermark {
    position: absolute;
    display: inline;
    z-index: 2000;
}

*::-webkit-media-controls {
  	display:none !important;
}